<header class="mb-4">

    <%
    let connected = false;
    if (session.discord != undefined && session.discord.access_token != undefined && Date.now() < session.discord.expires_at) {
        connected = true;
    %>

    <script>
        setTimeout(() => {
            createToast('Disconnected', 'You have been disconnected from Discord, to continue configuring your bot please log back in.')
        }, <%= session.discord.expires_at %> - Date.now());
    </script>

    <% } %>

    <nav class="navbar navbar-expand-lg navbar-dark m-0">
        <a class="navbar-brand mr-0" href="/">
            <img src="/public/assets/icon.png" width="30" height="30" class="d-inline-block align-top rounded" alt="">
            Epic-bot
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= path == '/' ? 'active' : '' %>"><a class="nav-link" <%= path != '/' ? 'href=/' : '' %>>Home</a></li>

                <li class="nav-item <%= path == '/connect' ? 'active' : '' %>">
                    <% if (!connected) { %>
                    <a class="nav-link" <%= path != '/connect' ? 'href=/connect' : '' %>>Log in with Discord</a>
                    <% } else { %>
                    <a class="nav-link" <%= path != '/disconnect' ? 'href=/disconnect' : '' %>>Log out from Discord</a>
                    <% } %>
                </li>

                <li class="nav-item <%= path == '/select' ? 'active' : '' %>"><a class="nav-link <%= !connected ? 'disabled' : '' %>" <%= path != '/select' && connected ? 'href=/select' : '' %>>Select a guild</a></li>

                <li class="nav-item <%= path.includes('/guild') ? 'active' : '' %>"><span class="nav-link disabled">Configure</span></li>
            </ul>
        </div>
    </nav>

    <div id="toasts" style="position: absolute; top: 10px; right: 10px; width: 348px;"></div>

</header>